<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

	<bean name="loginService" class="service.LoginService" />

	<bean name="registerService" class="service.RegisterService" />

	<bean name="welcomeService" class="service.WelcomeService" />

	<bean name="indexService" class="service.IndexService" />

	<bean name="historyService" class="service.HistoryService" />

	<bean name="albumsService" class="service.AlbumsService" />

	<bean name="albumPhotosService" class="service.AlbumPhotosService" />

	<bean name="photoService" class="service.PhotoService" />

	<bean name="userConfigService" class="service.UserConfigService" />

	<bean name="ajaxService" class="service.AjaxService" />

	<bean name="clientService" class="service.ClientService" />

	<bean name="chatUserDetailsService" class="spring_security.ChatUserDetailsService" />

</beans>
